/* Theme Color */
.banner-section-six .social-links li a:hover span,
.banner-section-six .social-links li a:hover,
.banner-section-six .contact-info li a:hover,
.social-icon-three li a:hover,
.banner-section-five .content-box .video-link a,
.header-style-six .nav-toggler,
.header-style-six .contact-info li span,
.banner-section-two .slide-item .title,
.banner-carousel .owl-next:hover,
.banner-carousel .owl-prev:hover,
.banner-section .bottom-box .contact-info li span,
.main-header .search-box-btn,
.header-style-two .contact-info li span,
.service-block-two .caption-box h3 a:hover,
.main-header .contact-info li a:hover,
.shop-item .inner-box .lower-content .price,
.cart-table tbody tr .remove-btn,
.cart-section .totals-table .total .price,
.shop-item .inner-box .lower-content .rating .fa,
.sidebar .related-posts .post .rating .fa,
.sidebar .related-posts .post a,
.sidebar .related-posts .post a:hover,
.product-details .basic-details .details-header .rating,
.product-details .basic-details .details-header .item-price,
.comments-area .comment-box .rating,
.checkout-page .default-links li .fa,
.shop-comment-form .rating-box .rating a:hover,
.order-box ul li span,
.service-detail .prod-tabs .tab-btns .tab-btn:hover, 
.service-detail .prod-tabs .tab-btns .tab-btn.active-btn,
.service-detail .inner-box ul li:before,
.help-box-two .inner .title,
.help-box-two .inner .theme-btn,
.help-box .inner .title,
.list-style-one li:before,
.main-footer .footer-column .widget-title:before,
.team-block .image-box .social-links li a:hover,
.page-title .bread-crumb li,
.header-style-four .header-top .top-right li a:hover,
.process-block .link-box a,
.banner-carousel-two .owl-next:hover, 
.banner-carousel-two .owl-prev:hover,
.specialize-section-two .title-column .text-box h4,
.banner-section-three .social-links li a:hover span, 
.banner-section-three .social-links li a:hover,
.banner-section-three .contact-info li a:hover,
.sidenav-bar .side-nav .navigation > li:hover > a, 
.sidenav-bar .side-nav .navigation > li > ul > li:hover > a, 
.sidenav-bar .side-nav .navigation > li.current > a, 
.sidenav-bar .side-nav .navigation > li > ul > li.current > a,
.product-block .info-box .price,
.service-block .lower-content .link-box a:hover,
.service-block .lower-content h3 a:hover,
.banner-carousel-two .content-box .count,
.banner-carousel-two .link-box a,
.service-block-two .link-box a,
.banner-section-two .content-box .video-link a,
.header-style-two .nav-toggler,
.latest-news .post:hover h3 a,
.comments-area .comment-box .reply-btn,
.contact-page-section .contact-info .info-block p a:hover,
.time-counter .time-countdown .counter-column,
.error-section .error-title span,
.cat-list li.active a,
.cat-list li:hover a,
.cat-list li.active a span,
.cat-list li:hover a span,
.social-icon-two li a:hover,
.video-section .content-column .title,
.video-section .video-column .video-box .link .icon,
.news-block-four .inner-box:hover .content-box h3 a,
.news-block-four .content-box .info li a:hover,
.news-block .inner-box:hover .caption-box h3 a,
.news-block-two .blockquote h2 span,
.contact-section .info-column .contact-info li a:hover,
.recent-posts .post h4 a:hover,
.main-footer .links-widget .list li:hover:before,
.main-footer .links-widget .list li a:hover,
.news-block-three .inner-box:hover .content-box h3 a,
.news-block-three .content-box .info li a:hover,
.news-block-two .inner-box:hover .caption-box h3 a,
.news-block-two .caption-box .info li a:hover,
.products-carousel .owl-next:hover,
.products-carousel .owl-prev:hover,
.testimonial-block-two .info-box .name,
.testimonial-carousel-two .owl-next:hover,
.testimonial-carousel-two .owl-prev:hover,
.offer-section .form-column .upper-box .title,
.offer-section .form-column .upper-box .discount,
.testimonial-carousel .owl-next:hover,
.testimonial-carousel .owl-prev:hover,
.testimonial-block .info-box .designation,
.styled-pagination li.next-post a:hover,
.styled-pagination li.prev-post a:hover,
.projects-carousel-two .owl-next:hover,
.projects-carousel-two .owl-prev:hover,
.projects-section-two .upper-box .link-box a,
.project-block-two .info-box .link-box a,
.project-block .overlay-box .btn-box a:hover,
.feature-block .link-box a,
.process-block h4 a:hover,
.projects-carousel .owl-next:hover,
.projects-carousel .owl-prev:hover,
.carousel-outer .thumbs-carousel .owl-next:hover,
.carousel-outer .thumbs-carousel .owl-prev:hover,
.sticky-header .main-menu .navigation > li:hover > a,
.sticky-header .main-menu .navigation > li.current > a,
.sticky-header .main-menu .navigation > li.current-menu-item > a,
.main-menu .navigation > li.current > a,
.main-menu .navigation > li:hover > a,
.header-style-four .search-box-btn,
.main-header .search-box-btn:hover,
.list-style-two li:before,
.btn-style-eight,
.btn-style-four:hover,
a{
	color: #14c599;
}

/*=== Background Color ===*/
.banner-section-five .owl-dot.active,
.nav-toggler:hover,
.shipping-form button,
.cart-section .coupon-btn,
.cart-section .cart-options .cart-btn,
.payment-box .payment-options li .radio-option label .small-text,
.shop-single .product-details .prod-tabs .tab-btns .tab-btn:hover,
.shop-single .product-details .prod-tabs .tab-btns .tab-btn.active-btn,
.range-slider-one .ui-widget-content .ui-state-default,
.range-slider-one .ui-state-default,
.scroll-to-top:hover,
.brochure-box:hover,
.blog-cat li.active a,
.blog-cat li a:hover,
.news-block .image-box .overlay-box,
.news-block-two .image-box .overlay-box,
.news-block-three .image-box .overlay-box,
.shop-item .inner-box .image .overlay-box .cart-option li a,
.main-footer .footer-bottom .inner-container:before,
.main-footer .footer-bottom .copyright-text,
.sidebar .search-box .form-group input[type="submit"]:hover,
.sidebar .search-box .form-group button:hover,
.news-block-four .image-box .overlay-box,
.header-style-one .main-menu .navigation > li > a:before,
.header-style-three .main-menu .navigation > li > a:before,
.team-block .inner-box:hover .image-box .name,
.feature-block .inner-box:hover,
.sidenav-bar .cross-icon:hover,
.header-style-three .nav-toggler:hover,
.about-section .content-column .content-box .title h2:before,
.header-style-two .main-menu .navigation > li > a:before,
.header-style-two .nav-toggler:hover,
.specialize-section-two .thumbs-carousel .thumb-box .overlay:before,
.process-block .inner-box:hover .count,
.services-carousel-two .owl-dot:hover,
.services-carousel-two .owl-dot.active,
.main-header .header-top,
.banner-section-two .owl-dot.active,
.service-detail .image-box .owl-next:hover,
.service-detail .image-box .owl-prev:hover,
.services-carousel .owl-dot:hover,
.services-carousel .owl-dot.active,
.accordion-box .block .acc-btn.active,
.header-style-two .nav-toggler:hover,
.cart-section .totals-table .proceed-btn,
.main-header .cart-btn .count,
.btn-style-eight:hover,
.btn-style-six:hover,
.main-footer .gallery-widget .image a:before,
.btn-style-five{
	background-color: #14c599;
}

/*Border Color*/
.checkout-form input:focus,
.checkout-form select:focus,
.checkout-form textarea:focus,
.banner-carousel .owl-next:hover:before, 
.banner-carousel .owl-prev:hover:before,
.shop-comment-form .form-group input[type="text"]:focus,
.shop-comment-form .form-group input[type="password"]:focus,
.shop-comment-form .form-group input[type="tel"]:focus,
.shop-comment-form .form-group input[type="email"]:focus,
.shop-comment-form .form-group select:focus,
.shop-comment-form .form-group textarea:focus,
.range-slider-one .ui-state-default, 
.range-slider-one .ui-widget-content .ui-state-default,
.login-form .form-group input[type="text"]:focus,
.login-form .form-group input[type="password"]:focus,
.login-form .form-group input[type="tel"]:focus,
.login-form .form-group input[type="email"]:focus,
.login-form .form-group select:focus,
.login-form .form-group textarea:focus,
.comment-form .form-group input:focus,
.comment-form .form-group select:focus,
.comment-form .form-group textarea:focus,
.contact-form .form-group input:focus,
.contact-form .form-group select:focus,
.contact-form .form-group textarea:focus,
.products-carousel .owl-next:hover:before,
.products-carousel .owl-prev:hover:before,
.testimonial-carousel-two .owl-next:hover:before,
.testimonial-carousel-two .owl-prev:hover:before,
.discount-form .form-group input:focus,
.discount-form .form-group select:focus,
.discount-form .form-group textarea:focus,
.styled-pagination li.next-post a:hover,
.styled-pagination li.prev-post a:hover,
.accordion-box .block .acc-btn.active,
.fact-counter .count-box:before,
.process-block .inner-box:hover,
.projects-carousel .owl-next:hover:before,
.projects-carousel .owl-prev:hover:before,
.banner-carousel-two .owl-next:hover:before, 
.banner-carousel-two .owl-prev:hover:before,
.sidebar .search-box .form-group input:focus,
.brochure-box:hover,
.faq-form .form-group input:focus,
.faq-form .form-group select:focus,
.faq-form .form-group textarea:focus,
.mixitup-gallery .filters li.active,
.mixitup-gallery .filters li:hover,
.carousel-outer .thumbs-carousel .owl-next:hover:before,
.carousel-outer .thumbs-carousel .owl-prev:hover:before,
.main-header .search-panel input:focus,
.main-header .search-panel select:focus,
.btn-style-eight,
.btn-style-two:hover,
.btn-style-two{
	border-color: #14c599;
}

.payment-box .payment-options li .radio-option label .small-text:before,
.rtl .main-footer .footer-bottom .copyright-text:before,
.main-footer .footer-bottom .copyright-text:before{
	border-bottom-color: #14c599;
}

.cat-list li:hover,
.cat-list li.active,
.main-menu .navigation > li .mega-menu-bar .column > ul > li > a:hover,
.main-menu .navigation > li > ul > li  > ul > li > a:hover,
.main-menu .navigation > li > ul > li:hover > a{
	border-left-color: #14c599;
}

.rtl .cat-list li.active,
.rtl .cat-list li:hover,
.rtl .main-menu .navigation > li .mega-menu-bar .column > ul > li > a:hover,
.rtl .main-menu .navigation > li > ul > li > ul > li:hover > a,
.rtl .main-menu .navigation > li > ul > li:hover > a{
	border-right-color: #14c599;
}

.btn-style-two:hover,
.btn-style-three:hover,
.fact-counter .count-box:hover:before{
	box-shadow: #14c599 0 0px 0px 40px inset;
}

/*=== Gradient Color ===*/
.banner-carousel-three .owl-prev, 
.banner-carousel-three .owl-next,
.btn-style-one{
	background: rgb(0,237,122);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwZWQ3YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNGM1OTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(0,237,122,1) 0%, rgba(20,197,153,1) 100%);
	background: -webkit-linear-gradient(top, rgba(0,237,122,1) 0%,rgba(20,197,153,1) 100%);
	background: linear-gradient(to bottom, rgba(0,237,122,1) 0%,rgba(20,197,153,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ed7a', endColorstr='#14c599',GradientType=0 );
}

@media only screen and (max-width: 767px){
	
	.main-menu .navbar-header .navbar-toggler .icon{
		color:#14c599;
	}
	
	.main-menu .navbar-header .navbar-toggle,
	.main-menu .navbar-collapse > .navigation,
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul,
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus,
	.main-menu .navbar-collapse > .navigation > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.main-menu .navigation > li .mega-menu-bar .column > ul > li > a,
	.main-menu .navigation > li .mega-menu-bar .column > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li.current > a,
	.main-menu .navbar-collapse > .navigation > li.current-menu-item > a{
		background-color:#14c599;
	}
	
}